main {
    text-align: center;
    align-content: center ;
}

h1 {
    color: rgb(24, 75, 151);
}

.set-card {
    display: flex;
}

.card {
    background-color: brown;
    width: 600px;
    height: 275px;
    margin: 20px;
}
