main {
    background-color: rgb(157, 51, 51);
}

.dashboard {
    display: flex;
}

h1 {
    color: rgb(24, 75, 151);
}


header {
    background-color: brown;
}

.important-card {
    display: flex;
}

.content-card {

}

.total-balance{
    width: 1015px;
    height: 375px ;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
}
