@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@400;500;600;700&display=swap');

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  height: 750px;
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 11px 9px 21px 6px rgba(0, 0, 0, 0.8);
}

.container header {
  background-color: rgb(35, 105, 209);
  text-align: center;
  justify-content: center;
  border-radius: 20px 0px 0px 20px;
  width: 190px;
  color: white;
}

.container header img {
  margin-top: 20px;
  height: 100px;
}

.container header a {
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

.container header p{
  font-size: 12px;
  margin-top: 270px;
}

.container header a div {
  color: white;
  padding: 20px;
}

.container header a div:hover {
  background-color: rgb(30, 94, 190);
}

.container header a div:active {
  background-color: rgb(20, 65, 133);
}